<div class="wrapper wrapper-full-page">

   <app-login-nav></app-login-nav>

   <div class="full-page register-page" filter-color="black">
      <div class="container">
         <div class="row">
            <div class="col-md-10 col-md-offset-1">
               <div class="card card-signup">
                  <h2 class="card-title text-center">Register</h2>
                  <div class="row">
                     <div class="col-md-5 col-md-offset-1">
                        <div class="card-content">
                           <div class="info info-horizontal">
                              <div class="icon icon-rose">
                                 <i class="material-icons">timeline</i>
                              </div>
                              <div class="description">
                                 <h4 class="info-title">Marketing</h4>
                                 <p class="description">
                                    We've created the marketing campaign of the website. It was a very interesting
                                    collaboration.
                                 </p>
                              </div>
                           </div>
                           <div class="info info-horizontal">
                              <div class="icon icon-primary">
                                 <i class="material-icons">code</i>
                              </div>
                              <div class="description">
                                 <h4 class="info-title">Fully Coded in HTML5</h4>
                                 <p class="description">
                                    We've developed the website with HTML5 and CSS3. The client has access to the code
                                    using GitHub.
                                 </p>
                              </div>
                           </div>
                           <div class="info info-horizontal">
                              <div class="icon icon-info">
                                 <i class="material-icons">group</i>
                              </div>
                              <div class="description">
                                 <h4 class="info-title">Built Audience</h4>
                                 <p class="description">
                                    There is also a Fully Customizable CMS Admin Dashboard for this product.
                                 </p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-md-5">
                        <div class="social text-center">
                           <button class="btn btn-just-icon btn-round btn-twitter">
                              <i class="fa fa-twitter"></i>
                           </button>
                           <button class="btn btn-just-icon btn-round btn-dribbble">
                              <i class="fa fa-dribbble"></i>
                           </button>
                           <button class="btn btn-just-icon btn-round btn-facebook">
                              <i class="fa fa-facebook"> </i>
                           </button>
                        </div>

                        <form class="form" [formGroup]="signupForm" (ngSubmit)="signup()">

                           <div class="card-content">

                              <div class="input-group">
                                 <span class="input-group-addon">
                                    <i class="material-icons">face</i>
                                 </span>
                                 <input type="text" class="form-control" placeholder="Nome" formControlName="firstName">
                              </div>

                              <div class="input-group">
                                 <span class="input-group-addon">
                                    <i class="material-icons">face</i>
                                 </span>
                                 <input type="text" class="form-control" placeholder="Sobrenome"
                                    formControlName="lastName">
                              </div>

                              <div class="input-group">
                                 <span class="input-group-addon">
                                    <i class="material-icons">email</i>
                                 </span>
                                 <input type="text" class="form-control" placeholder="Email..." formControlName="email">
                              </div>

                              <div class="input-group">
                                 <span class="input-group-addon">
                                    <i class="material-icons">lock_outline</i>
                                 </span>
                                 <input type="password" placeholder="Senha..." class="form-control"
                                    formControlName="password">
                              </div>

                              <div class="input-group">
                                 <span class="input-group-addon">
                                    <i class="material-icons">lock_outline</i>
                                 </span>
                                 <input type="password" placeholder="Repita a senha..." class="form-control"
                                    formControlName="confirmedPassword">
                              </div>

                              <div
                                 *ngIf="confirmedPassword?.invalid && (confirmedPassword?.dirty || confirmedPassword?.touched)">
                                 <mat-error *ngIf="signupForm.hasError('differentPasswords')">
                                    Suas senhas não coincidem.
                                 </mat-error>
                              </div>

                              <div *ngIf="password?.invalid && (password?.dirty || password?.touched)">
                                 <mat-error *ngIf="password?.hasError('minlength')">
                                    Sua senha deve ter pelo menos 8 caracteres.
                                 </mat-error>
                              </div>

                           </div>

                           <div class="footer text-center">
                              <button class="btn btn-primary btn-round">Cadastrar</button>
                           </div>

                        </form>

                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>

      <app-login-footer></app-login-footer>

      <div class="full-page-background" style="background-image: url(../../../assets/img/register.jpeg) "></div>

   </div>

</div>
