<footer class="footer">
   <div class="container">
      <nav class="pull-left">
         <ul>
            <li>
               <a routerLink="">
                  Home
               </a>
            </li>
            <li>
               <a routerLink="">
                  Company
               </a>
            </li>
            <li>
               <a routerLink="">
                  Portfolio
               </a>
            </li>
            <li>
               <a routerLink="">
                  Blog
               </a>
            </li>
         </ul>
      </nav>
      <p class="copyright pull-right">
         &copy;
         {{test | date: 'yyyy'}}
         - My Project Front End
      </p>
   </div>
</footer>
