<h2 mat-dialog-title>
   Recuperação de senha
</h2>

<div mat-dialog-content>
   Esqueceu sua senha? Não se preocupe. É só nos dizer seu e-mail que enviaremos
   para você sua senha, depois você pode alterar a senha ou continuar utilizando a mesma.
</div>

<form class="form mt-18">

   <mat-form-field class="full-width" appearance="fill">

      <mat-label>
         Email
      </mat-label>

      <input type="email" matInput [formControl]="emailFormControl" placeholder="Ex. pat@example.com">

      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
         Por favor, informe um email válido.
      </mat-error>

      <mat-error *ngIf="emailFormControl.hasError('required')">
         Email é
         <strong>
            necessário.
         </strong>
      </mat-error>

   </mat-form-field>

</form>

<div mat-dialog-actions align="end">

   <button mat-stroked-button color="warn" mat-dialog-close>
      Fechar
   </button>

   <button mat-stroked-button color="accent" (click)="sendRecovery()">
      Enviar
   </button>

</div>
