/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";

/*
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/

:root {
   --deep-purple: #3f51b5;
}

html,
body {
   height: 100%;
   width: 100%;
}

body {
   margin: 0;
   font-family: Roboto, "Helvetica Neue", sans-serif;
   background-color: #303030;
   color: #ffffffb3;
}

#container {
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.mt-18 {
   margin-top: 18px;
}
